[Unit]
Description=[Service description]

[Service]
Type=simple
ExecStart=/home/chessbot/chessbot/venv/bin/python -u /home/chessbot/chessbot/src/python/stockfish_mqtt.py
Restart=always

[Install]
WantedBy=default.target
