[Unit]
Description=[Service description]

[Service]
Type=simple
ExecStart=/home/chessbot/chessbot/venv/bin/python -u /home/chessbot/chessbot/python/magnet_to_bitboard_boardstate.py
Restart=on-failure

[Install]
WantedBy=default.target
